
<router-outlet></router-outlet>

<!-- <div class="text-center">
  <form [formGroup]="addCourse" (ngSubmit)="onsubmit()">
    Course  Id:<input type="text" formControlName="courseId"><br>
    Course  Name:<input type="text" formControlName="courseName"><br>
    Course Duration: <input type="text" formControlName="courseDuraion"><br><br>
    Category Id: <input type="text" formControlName="categoryId"><br><br>
    Category name: <input type="text" formControlName="categoryName"><br><br> -->
    <!-- <div *ngIf="registerform.get('registerid').invalid && registerform.get('registerid').touched">please enter registerid between 1 to 6 charcters</div>
    Register Name:<input type="text" formControlName="registerName"><br>
    <div *ngIf="registerform.get('registerName').invalid && registerform.get('registerName').touched ">please enter registerName with minimun 3 charcters</div>
    Register Age:<input type="text" formControlName="registerAge"><br>
    <div *ngIf="registerform.get('registerAge').invalid && registerform.get('registerAge').touched || registerform.get('registerName').dirty">please enter registerAge between 18 to 50 </div>-->
    <!-- <div formArrayName="moduleList">
      <div *ngFor="let module of moduleList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="Moduleid">module {{i + 1}}:</label><br>
          Module ID: <input id="moduleId" formControlName="moduleId" /><br>
          Module Name: <input type="text" formControlName="moduleName" /><br>
          Module Content: <input type="text" formControlName="moduleContent" /><br>
          Material Type: <input type="text" formControlName="materialType" /><br>
          Material Name: <input type="text" formControlName="materialName" /><br>
              Quiz id: <input  formControlName="quizId" /><br>
              Quiz Name: <input  formControlName="quizName" /><br>
           
              <div formArrayName="questionsList">
                <div *ngFor="let question of questionsList.controls; let i = index">
                  <div [formGroupName]="i"><br><br>
                    <label for="questionid">question {{i + 1}}:</label><br>
                    Question id: <input  formControlName="questionId" /><br>
                    Question Name: <input  formControlName="questionName" /><br>
                    Option 1: <input  formControlName="option1" /><br>
                    Option 2: <input  formControlName="option2" /><br>
                    Option 3: <input  formControlName="option3" /><br>
                    Option 4: <input  formControlName="option4" /><br>
                    Correct answer: <input  formControlName="correctAnswer" /><br>
                    weightage: <input  formControlName="weightage" /><br>
                  </div></div> </div>


          <div formArrayName="videoRef">
            <div *ngFor="let video of videoRef.controls; let i = index">
              <div [formGroupName]="i">
                <br><br>
                <label for="videoid">video {{i + 1}}:</label><br>
                Video id: <input  formControlName="vedioId" /><br>
                Video Name: <input  formControlName="vedioName" /><br>
                Content type: <input  formControlName="contentType" /><br>
                Content Name: <input  formControlName="contentName" /><br>

              </div></div> </div>

          <button type="button" (click)="removeModules(i)">Remove</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addModules()">Add Module</button>
    <div formArrayName="LevelList">
      <div *ngFor="let level of LevelList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="levelId">Level {{i + 1}}:</label><br>
          Level id: <input  formControlName="levelId" /><br>
          Level Name: <input  formControlName="levelName" /><br>

        </div>
        </div>
        </div>
      
    <button type="button">Add Email</button>
    <button type="submit" >Submit</button>

  </form>
</div> -->
<!-- <div class="text-center">
  <form [formGroup]="addCourse" (ngSubmit)="onsubmit()">
    Course Id: <input type="text" formControlName="courseId"><br>
    Course Name: <input type="text" formControlName="courseName"><br>
    Course Duration: <input type="text" formControlName="courseDuraion"><br><br>
    Category Id: <input type="text" formControlName="categoryId"><br><br>
    Category Name: <input type="text" formControlName="categoryName"><br><br>
    
    <div formArrayName="moduleList">
      <div *ngFor="let module of moduleList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="Moduleid">Module {{i + 1}}:</label><br>
          Module ID: <input id="moduleId" formControlName="moduleId" /><br>
          Module Name: <input type="text" formControlName="moduleName" /><br>
          Module Content: <input type="text" formControlName="moduleContent" /><br>
          Material Type: <input type="text" formControlName="materialType" /><br>
          Material Name: <input type="text" formControlName="materialName" /><br>

        
          <div formArrayName="quizref">
            <div *ngFor="let quiz of module.get('quizref').controls; let j = index">
              <div [formGroupName]="j">
                <br><br>
                <label for="quizId">Quiz {{j + 1}}:</label><br>
                Quiz ID: <input formControlName="quizId" /><br>
                Quiz Name: <input formControlName="quizName" /><br>

            
                <div formArrayName="questionsList">
                  <div *ngFor="let question of quiz.get('questionsList').controls; let k = index">
                    <div [formGroupName]="k">
                      <br><br>
                      <label for="questionId">Question {{k + 1}}:</label><br>
                      Question ID: <input formControlName="questionId" /><br>
                      Question Name: <input formControlName="questionName" /><br>
                      Option 1: <input formControlName="option1" /><br>
                      Option 2: <input formControlName="option2" /><br>
                      Option 3: <input formControlName="option3" /><br>
                      Option 4: <input formControlName="option4" /><br>
                      Correct Answer: <input formControlName="correctAnswer" /><br>
                      Weightage: <input formControlName="weightage" /><br>
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeQuestion(i, j)">Remove Question</button>
              </div>
            </div>
            <button type="button" (click)="addQuiz(i)">Add Quiz</button>
          </div>

    
          <div formArrayName="videoRef">
            <div *ngFor="let video of module.get('videoRef').controls; let j = index">
              <div [formGroupName]="j">
                <br><br>
                <label for="videoId">Video {{j + 1}}:</label><br>
                Video ID: <input formControlName="vedioId" /><br>
                Video Name: <input formControlName="vedioName" /><br>
                Content Type: <input formControlName="contentType" /><br>
                Content Name: <input formControlName="contentName" /><br>
              </div>
            </div>
            <button type="button" (click)="addVideos(i)">Add Video</button>
          </div>

          <button type="button" (click)="removeModules(i)">Remove Module</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addModules()">Add Module</button>

    
    <div formArrayName="LevelList">
      <div *ngFor="let level of LevelList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="levelId">Level {{i + 1}}:</label><br>
          Level ID: <input formControlName="levelId" /><br>
          Level Name: <input formControlName="levelName" /><br>
        </div>
      </div>
    </div>
    <button type="button" (click)="addLevels()">Add Level</button>
    <button type="submit">Submit</button>
  </form>
</div>

<<div class="text-center">
  <form [formGroup]="addCourse" (ngSubmit)="onSubmit()">
    <label for="courseId">Course Id:</label>
    <input type="text" formControlName="courseId"><br>
    
    <label for="courseName">Course Name:</label>
    <input type="text" formControlName="courseName"><br>
    
    <label for="courseDuraion">Course Duration:</label>
    <input type="text" formControlName="courseDuraion"><br><br>

    <label for="categoryId">Category Id:</label>
    <input type="text" formControlName="categoryId"><br><br>

    <label for="categoryName">Category Name:</label>
    <input type="text" formControlName="categoryName"><br><br>

  
    <div formArrayName="moduleList">
      <div *ngFor="let module of moduleList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="moduleId">Module {{i + 1}}:</label><br>
          
          <label for="moduleId">Module ID:</label>
          <input id="moduleId" formControlName="moduleId" /><br>

          <label for="moduleName">Module Name:</label>
          <input type="text" formControlName="moduleName" /><br>

          <label for="moduleContent">Module Content:</label>
          <input type="text" formControlName="moduleContent" /><br>

          <label for="materialType">Material Type:</label>
          <input type="text" formControlName="materialType" /><br>

          <label for="materialName">Material Name:</label>
          <input type="text" formControlName="materialName" /><br><br>

        
          <div formArrayName="quizref">
            <div *ngFor="let quiz of (module.get('quizref') as FormArray)?.controls; let j = index">

              <div [formGroupName]="j">
                <br><br>
                <label for="quizId">Quiz {{j + 1}}:</label><br>
                <label for="quizId">Quiz ID:</label>
                <input formControlName="quizId" /><br>
                
                <label for="quizName">Quiz Name:</label>
                <input formControlName="quizName" /><br>

                
                <div formArrayName="questionsList">
                  <div *ngFor="let question of quiz.get('questionsList').controls; let k = index">
                    <div [formGroupName]="k">
                      <br><br>
                      <label for="questionId">Question {{k + 1}}:</label><br>
                      <label for="questionId">Question ID:</label>
                      <input formControlName="questionId" /><br>
                      
                      <label for="questionName">Question Name:</label>
                      <input formControlName="questionName" /><br>
                      
                      <label for="option1">Option 1:</label>
                      <input formControlName="option1" /><br>
                      
                      <label for="option2">Option 2:</label>
                      <input formControlName="option2" /><br>
                      
                      <label for="option3">Option 3:</label>
                      <input formControlName="option3" /><br>
                      
                      <label for="option4">Option 4:</label>
                      <input formControlName="option4" /><br>
                      
                      <label for="correctAnswer">Correct Answer:</label>
                      <input formControlName="correctAnswer" /><br>

                      <label for="weightage">Weightage:</label>
                      <input formControlName="weightage" /><br>
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeQuestion(i, j)">Remove Question</button>
              </div>
            </div>
            <button type="button" (click)="addQuiz(i)">Add Quiz</button>
          </div>

          
          <div formArrayName="videoRef">
            <div *ngFor="let video of (module.get('videoRef') as FormArray)?.controls; let j = index">

              <div [formGroupName]="j">
                <br><br>
                <label for="videoId">Video {{j + 1}}:</label><br>
                <label for="videoId">Video ID:</label>
                <input formControlName="vedioId" /><br>

                <label for="videoName">Video Name:</label>
                <input formControlName="vedioName" /><br>

                <label for="contentType">Content Type:</label>
                <input formControlName="contentType" /><br>

                <label for="contentName">Content Name:</label>
                <input formControlName="contentName" /><br>
              </div>
            </div>
            <button type="button" (click)="addVideo(i)">Add Video</button>
          </div>

          <button type="button" (click)="removeModule(i)">Remove Module</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addModule()">Add Module</button>


    <div formArrayName="LevelList">
      <div *ngFor="let level of LevelList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="levelId">Level {{i + 1}}:</label><br>
          <label for="levelId">Level ID:</label>
          <input formControlName="levelId" /><br>

          <label for="levelName">Level Name:</label>
          <input formControlName="levelName" /><br>
        </div>
      </div>
    </div>
    <button type="button" (click)="addLevel()">Add Level</button>

    <button type="submit">Submit</button>
  </form>
</div> -->
<!-- <div class="text-center">
  <form [formGroup]="addCourse" (ngSubmit)="onSubmit()">
    <label for="courseId">Course Id:</label>
    <input type="text" formControlName="courseId"><br>
    
    <label for="courseName">Course Name:</label>
    <input type="text" formControlName="courseName"><br>
    
    <label for="courseDuraion">Course Duration:</label>
    <input type="text" formControlName="courseDuraion"><br><br>

    <label for="categoryId">Category Id:</label>
    <input type="text" formControlName="categoryId"><br><br>

    <label for="categoryName">Category Name:</label>
    <input type="text" formControlName="categoryName"><br><br>

    
    <div formArrayName="moduleList">
      <div *ngFor="let module of moduleList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="moduleId">Module {{i + 1}}:</label><br>
          
          <label for="moduleId">Module ID:</label>
          <input id="moduleId" formControlName="moduleId" /><br>

          <label for="moduleName">Module Name:</label>
          <input type="text" formControlName="moduleName" /><br>

          <label for="moduleContent">Module Content:</label>
          <input type="text" formControlName="moduleContent" /><br>

          <label for="materialType">Material Type:</label>
          <input type="text" formControlName="materialType" /><br>

          <label for="materialName">Material Name:</label>
          <input type="text" formControlName="materialName" /><br><br>


          <div formArrayName="quizref">
            <div *ngFor="let quiz of (module.get('quizref') as FormArray)?.controls; let j = index">
              <div [formGroupName]="j">
                <br><br>
                <label for="quizId">Quiz {{j + 1}}:</label><br>
                <label for="quizId">Quiz ID:</label>
                <input formControlName="quizId" /><br>
                
                <label for="quizName">Quiz Name:</label>
                <input formControlName="quizName" /><br>

              
                <div formArrayName="questionsList">
                  <div *ngFor="let question of quiz.get('questionsList').controls; let k = index">
                    <div [formGroupName]="k">
                      <br><br>
                      <label for="questionId">Question {{k + 1}}:</label><br>
                      <label for="questionId">Question ID:</label>
                      <input formControlName="questionId" /><br>
                      
                      <label for="questionName">Question Name:</label>
                      <input formControlName="questionName" /><br>
                      
                      <label for="option1">Option 1:</label>
                      <input formControlName="option1" /><br>
                      
                      <label for="option2">Option 2:</label>
                      <input formControlName="option2" /><br>
                      
                      <label for="option3">Option 3:</label>
                      <input formControlName="option3" /><br>
                      
                      <label for="option4">Option 4:</label>
                      <input formControlName="option4" /><br>
                      
                      <label for="correctAnswer">Correct Answer:</label>
                      <input formControlName="correctAnswer" /><br>

                      <label for="weightage">Weightage:</label>
                      <input formControlName="weightage" /><br>
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeQuestion(i, j, k)">Remove Question</button>
              </div>
            </div>
            <button type="button" (click)="addQuiz(i)">Add Quiz</button>
          </div>

          
          <div formArrayName="videoRef">
            <div *ngFor="let video of (module.get('videoRef') as FormArray)?.controls; let j = index">
              <div [formGroupName]="j">
                <br><br>
                <label for="videoId">Video {{j + 1}}:</label><br>
                <label for="videoId">Video ID:</label>
                <input formControlName="vedioId" /><br>

                <label for="videoName">Video Name:</label>
                <input formControlName="vedioName" /><br>

                <label for="contentType">Content Type:</label>
                <input formControlName="contentType" /><br>

                <label for="contentName">Content Name:</label>
                <input formControlName="contentName" /><br>
              </div>
            </div>
            <button type="button" (click)="addVideo(i)">Add Video</button>
          </div>

          <button type="button" (click)="removeModule(i)">Remove Module</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addModule()">Add Module</button>


    <div formArrayName="LevelList">
      <div *ngFor="let level of LevelList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="levelId">Level {{i + 1}}:</label><br>
          <label for="levelId">Level ID:</label>
          <input formControlName="levelId" /><br>

          <label for="levelName">Level Name:</label>
          <input formControlName="levelName" /><br>
        </div>
      </div>
    </div>
    <button type="button" (click)="addLevel()">Add Level</button>

    <button type="submit">Submit</button>
  </form>
</div> -->
<!-- <div class="text-center">
  <form [formGroup]="addCourse" (ngSubmit)="onSubmit()">
    <label for="courseId">Course Id:</label>
    <input type="text" formControlName="courseId"><br>
    
    <label for="courseName">Course Name:</label>
    <input type="text" formControlName="courseName"><br>
    
    <label for="courseDuraion">Course Duration:</label>
    <input type="text" formControlName="courseDuraion"><br><br>

    <label for="categoryId">Category Id:</label>
    <input type="text" formControlName="categoryId"><br><br>

    <label for="categoryName">Category Name:</label>
    <input type="text" formControlName="categoryName"><br><br>

  
    <div formArrayName="moduleList">
      <div *ngFor="let module of moduleList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="moduleId">Module {{i + 1}}:</label><br>
          
          <label for="moduleId">Module ID:</label>
          <input id="moduleId" formControlName="moduleId" /><br>

          <label for="moduleName">Module Name:</label>
          <input type="text" formControlName="moduleName" /><br>

          <label for="moduleContent">Module Content:</label>
          <input type="text" formControlName="moduleContent" /><br>

          <label for="materialType">Material Type:</label>
          <input type="text" formControlName="materialType" /><br>

          <label for="materialName">Material Name:</label>
          <input type="text" formControlName="materialName" /><br><br>

          
          <div formArrayName="quizref">
            <div *ngFor="let quiz of (module.get('quizref') as FormArray)?.controls; let j = index">
              <div [formGroupName]="j">
                <br><br>
                <label for="quizId">Quiz {{j + 1}}:</label><br>
                <label for="quizId">Quiz ID:</label>
                <input formControlName="quizId" /><br>
                
                <label for="quizName">Quiz Name:</label>
                <input formControlName="quizName" /><br>

                
                <div formArrayName="questionsList">
                  <div *ngFor="let question of quiz.get('questionsList').controls; let k = index">
                    <div [formGroupName]="k">
                      <br><br>
                      <label for="questionId">Question {{k + 1}}:</label><br>
                      <label for="questionId">Question ID:</label>
                      <input formControlName="questionId" /><br>
                      
                      <label for="questionName">Question Name:</label>
                      <input formControlName="questionName" /><br>
                      
                      <label for="option1">Option 1:</label>
                      <input formControlName="option1" /><br>
                      
                      <label for="option2">Option 2:</label>
                      <input formControlName="option2" /><br>
                      
                      <label for="option3">Option 3:</label>
                      <input formControlName="option3" /><br>
                      
                      <label for="option4">Option 4:</label>
                      <input formControlName="option4" /><br>
                      
                      <label for="correctAnswer">Correct Answer:</label>
                      <input formControlName="correctAnswer" /><br>

                      <label for="weightage">Weightage:</label>
                      <input formControlName="weightage" /><br>
                    </div>
                  </div>
                </div>
                <button type="button" (click)="removeQuestion(i, j, k)">Remove Question</button>
              </div>
            </div>
            <button type="button" (click)="addQuiz(i)">Add Quiz</button>
          </div>

      
          <div formArrayName="videoRef">
            <div *ngFor="let video of (module.get('videoRef') as FormArray)?.controls; let j = index">
              <div [formGroupName]="j">
                <br><br>
                <label for="videoId">Video {{j + 1}}:</label><br>
                <label for="videoId">Video ID:</label>
                <input formControlName="vedioId" /><br>

                <label for="videoName">Video Name:</label>
                <input formControlName="vedioName" /><br>

                <label for="contentType">Content Type:</label>
                <input formControlName="contentType" /><br>

                <label for="contentName">Content Name:</label>
                <input formControlName="contentName" /><br>
              </div>
            </div>
            <button type="button" (click)="addVideo(i)">Add Video</button>
          </div>

          <button type="button" (click)="removeModule(i)">Remove Module</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addModule()">Add Module</button>


    <div formArrayName="LevelList">
      <div *ngFor="let level of LevelList.controls; let i = index">
        <div [formGroupName]="i">
          <br><br>
          <label for="levelId">Level {{i + 1}}:</label><br>
          <label for="levelId">Level ID:</label>
          <input formControlName="levelId" /><br>

          <label for="levelName">Level Name:</label>
          <input formControlName="levelName" /><br>
        </div>
      </div>
    </div>
    <button type="button" (click)="addLevel()">Add Level</button>

    <button type="submit">Submit</button>
  </form>
</div> -->



 


  